.bg-white {
    @extend .text-blue;
    background-color: $hsc-white;
    padding: 15px !important;
}

.bg-blue {
    @extend .text-yellow;
    background-color: $hsc-blue-dark;
    padding: 15px !important;
}

.bg-yellow {
    @extend .text-blue;
    background-color: $hsc-yellow;
    padding: 15px !important;
}

@mixin bg-hsc-blue($opacity) {
    background: rgba(28, 40, 75, $opacity);
}