.text-white {
    color: $hsc-white !important;
}

.text-blue {
    color: $hsc-blue-dark !important;
}

.text-yellow {
    color: $hsc-yellow !important;
}

.text-grey {
    color: $hsc-grey !important;
}

@mixin font-italic-bold($size, $lineHeight) {
    font-size: $size;
    line-height: $lineHeight;
}

@mixin font-bold($size, $lineHeight) {
    font-size: $size;
    line-height: $lineHeight;
    font-weight: bold;
}

@mixin font-italic($size, $lineHeight) {
    font-size: $size;
    line-height: $lineHeight;
}

@mixin font-normal($size, $lineHeight) {
    font-size: $size;
    line-height: $lineHeight;
}