@mixin font-light($size, $lineHeight: 1.5) {
    font-family: 'URWGeometric-Light' !important;
    font-size: $size;
    line-height: $lineHeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.5pt;
    font-weight: normal !important;
}

@mixin font-normal($size, $lineHeight: 1.5) {
    font-family: 'URWGeometric-Regular' !important;
    font-size: $size;
    line-height: $lineHeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.5pt;
}

@mixin font-semibold($size, $lineHeight: 1.5) {
    font-family: 'URWGeometric-SemiBold' !important;
    font-size: $size;
    line-height: $lineHeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.5pt;
    font-weight: normal !important;
}

@mixin font-bold($size, $lineHeight: 1.5) {
    font-family: 'URWGeometric-Black' !important;
    font-size: $size;
    line-height: $lineHeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.5pt;
    font-weight: normal !important;
}

@mixin font-light-italic($size, $lineHeight: 1.5) {
    font-family: 'URWGeometric-LightOblique' !important;
    font-size: $size;
    line-height: $lineHeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.5pt;
    font-weight: normal !important;
}

@mixin font-normal-italic($size, $lineHeight: 1.5) {
    font-family: 'URWGeometric-RegularOblique' !important;
    font-size: $size;
    line-height: $lineHeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.5pt;
}

@mixin font-semibold-italic($size, $lineHeight: 1.5) {
    font-family: 'URWGeometric-SemiBoldOblique' !important;
    font-size: $size;
    line-height: $lineHeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.5pt;
    font-weight: normal !important;
}

@mixin font-bold-italic($size, $lineHeight: 1.5) {
    font-family: 'URWGeometric-BlackOblique' !important;
    font-size: $size;
    line-height: $lineHeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.5pt;
    font-weight: normal !important;
}
