@each $item, $size in (n: 0, xs: 5px, sm: 10px, md: 15px, lg: 20px, xl: 25px, xxl: 30px) {
    .p-#{$item} {
        padding: $size !important;
    }

    .pt-#{$item} {
        padding-top: $size !important;
    }

    .pl-#{$item} {
        padding-left: $size !important;
    }

    .pb-#{$item} {
        padding-bottom: $size !important;
    }

    .pr-#{$item} {
        padding-right: $size !important;
    }
}

.clear-paddings {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
