@mixin font-normal($size, $lineHeight: $line-height--default) {
  font-size: $size;
  line-height: $lineHeight;
  font-family: $font-family-default;
}

@mixin font-bold($size, $lineHeight: $line-height--default) {
  font-size: $size;
  line-height: $lineHeight;
  font-family: $font-family-semibold;
}

@mixin font-bold-italic($size, $lineHeight: $line-height--default) {
  font-size: $size;
  line-height: $lineHeight;
  font-family: $font-family-bold-italic;
}
