@mixin font-normal($size, $lineHeight: 1.5) {
    @include text-normal();

    font-size: $size;
    line-height: $lineHeight;
}

@mixin font-bold($size, $lineHeight: 1.5) {
    @include text-bold();

    font-size: $size;
    line-height: $lineHeight;
}

@mixin font-bold-italic($size, $lineHeight: 1.5) {
    @include text-bold-italic();

    font-size: $size;
    line-height: $lineHeight;
}

@mixin text-normal() {
    @include text-default();

    font-family: 'URWGeometric-Regular', Tahoma, sans-serif;
}

@mixin text-bold() {
    @include text-default();

    font-family: 'URWGeometric-Black', Tahoma, sans-serif;
}

@mixin text-bold-italic() {
    @include text-default();

    font-family: 'URWGeometric-BlackOblique', Tahoma, sans-serif;
}

@mixin text-default() {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.5pt;
}

@mixin text-roboto {
    font-family: 'Roboto Flex', Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
