$color-white: #ffffff;
$color-blue-dark: #1a2b4a;
$color-blue-light: #e7e9ec;
$color-yellow: #ffdb00;
$color-red: #e4303f;
$color-green: #2ac56c;
$color-orange: #f19f0f;
$color-grey: #ddd;
$color-black: #181818;

$color-grey-light: #fafafa;
$color-grey-mid: #c2c2c2;
$color-grey-dark: #e0e0e0;

$transition-default: 0.2s ease-in-out 0s;
$transition-slow: 250ms ease-in-out 0s;

$_config--line-height: 16px;
$_config--font-size: 16px;
$border-radius: 3px;
