$color-grayscale--0: #000000;
$color-grayscale--100: #606060;
$color-grayscale--200: #696969;
$color-grayscale--500: #b9bdc0; // Inactive state
$color-grayscale--800: #e1e1e1;
$color-grayscale--900: #efeeeb; // Informational background
$color-grayscale--910: #f3f3f0; // Informational background
$color-grayscale--920: #f6f6f4; // Informational background
$color-grayscale--930: #fbfbfa; // Informational background
$color-grayscale--1000: #ffffff;

$color-primary--1: #1c284b;
$color-primary--2: #dddddd;
$color-primary--3: $color-grayscale--200;
$color-primary--4: $color-grayscale--1000;
$color-primary--5: #5d6576;

$color-status--danger: #e4303f;
$color-status--success: #2ac56c;
$color-status--info: #4276b9;

$color-white: #ffffff;
$color-blue-dark: #1c284b;
$color-blue-light: #4276b9;
$color-yellow: #ffdb00;
$color-red: #e4303f;
$color-red-light: #f4aaa3;
$color-green: #2ac56c;
$color-orange: #f19f0f;
$color-grey: #dddddd;
$color-black: #181818;
$color-grey: #eeeeee;
$color-grey-light: #cccccc;

$header-bg-color: #e2e3e8;
$main-bg-color: #f8f8f9;
$second-bg-color: rgba($color-blue-dark, 0.05);

$font-color: $color-blue-dark;
$font-color-muted: rgba($color-blue-dark, 0.7);

$border-color-default: $color-grey;
$box-shadow-color-default: $color-black;

// new

$color-blue-dark-alt: #000e29;

$color-blue-1: #000d29;
$color-blue-2: #1a263f;
$color-blue-3: #343e54;
$color-blue-black: #00091a;
$color-blue-4: #111f38;

$content-background-color: #e7e8ec;

$color-bluescale--0: #000000;
$color-bluescale--1: #06080f;
$color-bluescale--2: #0b101e;
$color-bluescale--3: #11182d; // Inactive state
$color-bluescale--4: #161f3c;
$color-blue-dark: #1c284b;
$color-bluescale--5: #212f59; // Informational background
$color-bluescale--6: #273768; // Informational background
$color-bluescale--7: #2c3f77; // Informational background
$color-bluescale--8: #324786; // Informational background
$color-bluescale--9: #374f95;
$color-bluescale--10: #3D56A4;
$color-bluescale--11: #425EB3;
$color-bluescale--12: #4C68BD;
$color-bluescale--13: #5B75C2;
$color-bluescale--14: #6A82C8;
$color-bluescale--15: #798ECD;
$color-bluescale--16: #889BD3;
$color-bluescale--17: #97A7D8;
$color-bluescale--18: #A6B4DE;
$color-bluescale--19: #B5C0E3;
$color-bluescale--20: #C3CDE9;
$color-bluescale--21: #D2D9EE;
$color-bluescale--22: #E1E6F4;
$color-bluescale--23: #F0F2F9;
$color-bluescale--24: #FFFFFF;
