$color-grayscale--0: #000000;
$color-grayscale--100: #606060;
$color-grayscale--200: #696969;
$color-grayscale--500: #b9bdc0; // Inactive state
$color-grayscale--800: #e1e1e1;
$color-grayscale--900: #efeeeb; // Informational background
$color-grayscale--910: #f3f3f0; // Informational background
$color-grayscale--920: #f6f6f4; // Informational background
$color-grayscale--930: #fbfbfa; // Informational background
$color-grayscale--1000: #ffffff;

$color-primary--1: #1c284b;
$color-primary--2: #dddddd;
$color-primary--4: $color-grayscale--1000;

$color-white: #ffffff;
$color-blue-dark: #1c284b;
$color-yellow: #ffdb00;
$color-red: #e4303f;
$color-green: #2ac56c;
$color-orange: #f19f0f;
$color-black: #181818;
$color-grey: #eeeeee;
$color-grey-mid: #c2c2c2;

$border-color-default: $color-grey;
$box-shadow-color-default: $color-black;

// new
$color-bluescale--1: #06080f;
$color-bluescale--2: #0b101e;
$color-bluescale--4: #161f3c;

