// Font families
$font-family--primary: 'Open Sans', sans-serif;

// Font weight
$font-weight--regular: 400;
$font-weight--bold: 700;
$font-weight--semi-bold: 700;

// Font size
$font-size--default: 16px;
$font-size--7: 7px;
$font-size--8: 8px;
$font-size--10: 10px;
$font-size--11: 11px;
$font-size--12: 12px;
$font-size--14: 14px;
$font-size--15: 15px;
$font-size--16: 16px;
$font-size--18: 18px;
$font-size--20: 20px;
$font-size--22: 22px;
$font-size--24: 24px;
$font-size--25: 25px;
$font-size--30: 30px;
$font-size--36: 36px;
$font-size--40: 40px;
$font-size--56: 56px;

$print-font-size-small: 10px;
$print-font-size-default: 12px;
$print-font-size-bigger: 14px;
$print-font-size-biggest: 16px;

$font-size-smallest: 10px;
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-jumbo: 26px;
$font-size-mammut: 32px;
$font-size-giant: 46px;
$font-size--14: 14px;

$font-family-default: 'URWGeometric-Regular', Tahoma, sans-serif;
$font-family-bold: 'URWGeometric-Black', Tahoma, sans-serif;
$font-family-semibold: 'URWGeometric-SemiBold', Tahoma, sans-serif;
$font-family-bold-italic: 'URWGeometric-BlackOblique', Tahoma, sans-serif;
$font-family-roboto: 'Roboto Flex', Tahoma, sans-serif;
