// Font families
$font-family-bold: 'URWGeometric-Black', Arial, Helvetica, sans-serif;
$font-family-semibold: 'URWGeometric-SemiBold', Arial, Helvetica, sans-serif;
$font-family-bold-italic: 'URWGeometric-BlackOblique', Arial, Helvetica, sans-serif;
$font-family-roboto: 'Roboto Flex', Arial, Helvetica, sans-serif;
$font-family-urw-regular: 'URWGeometric-Regular', Arial, Helvetica, sans-serif;
$font-family-default: $font-family-urw-regular;

// new
$font-size--h1: 3.815rem;
$font-size--h2: 3.052rem;
$font-size--h3: 2.441rem;
$font-size--h4: 1.953rem;
$font-size--h5: 1.563rem;
$font-size--h6: 1.25rem;
$font-size--default: 1rem;
$font-size--small: 0.8rem;
$font-size--xs: 0.64rem;
$font-size--browser-fallback--mobile: 16px;
$font-size--browser-fallback--desktop: 20px;

$line-height--default: 1.15;
$letter-spacing--default: -0.022em;
