// Font families
$font-family-bold: 'URWGeometric-Black', Arial, Helvetica, sans-serif;
$font-family-semibold: 'URWGeometric-SemiBold', Arial, Helvetica, sans-serif;
$font-family-bold-italic: 'URWGeometric-BlackOblique', Arial, Helvetica, sans-serif;
$font-family-urw-regular: 'URWGeometric-Regular', Arial, Helvetica, sans-serif;
$font-family-default: $font-family-urw-regular;

// new
$font-size--default: 1rem;
$font-size--small: 0.8rem;
$font-size--xs: 0.64rem;

$line-height--default: 1.15em;
$letter-spacing--default: -0.022em;

// Based on best practices from: https://typescale.com/
// Font set: large
// Common use-case: desktop
$font-sizes--desktop: (
  'regular': 1rem,
  'h1': 2.986rem,
  'h2': 2.488rem,
  'h3': 2.074rem,
  'h4': 1.728rem,
  'h5': 1.44rem,
  'h6': 1.2rem,
  'small': 0.8rem,
  'extra-small': 0.75rem,
);

$font-sizes--tablet: (
  'regular': 1rem,
  'h1': 2.986rem,
  'h2': 2.488rem,
  'h3': 2.074rem,
  'h4': 1.728rem,
  'h5': 1.44rem,
  'h6': 1.2rem,
  'small': 0.8rem,
  'extra-small': 0.75rem,
);

$font-sizes--mobile: (
  'regular': 1rem,
  'h1': 2.986rem,
  'h2': 2.488rem,
  'h3': 2.074rem,
  'h4': 1.728rem,
  'h5': 1.44rem,
  'h6': 1.2rem,
  'small': 0.8rem,
  'extra-small': 0.75rem,
);

