// Font families
$font-family-bold: 'URWGeometric-Black', Arial, Helvetica, sans-serif;
$font-family-semibold: 'URWGeometric-SemiBold', Arial, Helvetica, sans-serif;
$font-family-bold-italic: 'URWGeometric-BlackOblique', Arial, Helvetica, sans-serif;
$font-family-urw-regular: 'URWGeometric-Regular', Arial, Helvetica, sans-serif;
$font-family-default: $font-family-urw-regular;

// new
$font-size--default: 1rem;
$font-size--small: 0.8rem;
$font-size--xs: 0.64rem;

$line-height--default: 1.15em;
$letter-spacing--default: -0.022em;

// Based on best practices from: https://typescale.com/
// Font set: large
// Common use-case: desktop
$font-sizes--desktop: (
  'regular': 1rem,
  'h1': 2.75rem,
  'h2': 2rem,
  'h3': 1.375rem,
  'h4': 1.125rem,
  'h5': 1.09rem,
  'h6': 1.04rem,
  'small': 0.889rem,
  'extra-small': 0.79rem,
);

$font-sizes--tablet: (
  'regular': 1rem,
  'h1': 2.75rem,
  'h2': 2rem,
  'h3': 1.375rem,
  'h4': 1.125rem,
  'h5': 1.09rem,
  'h6': 1.04rem,
  'small': 0.833rem,
  'extra-small': 0.694rem,
);

$font-sizes--mobile: (
  'regular': 1rem,
  'h1': 1.625rem,
  'h2': 1.1875rem,
  'h3': 1.296rem,
  'h4': 1rem,
  'h5': 1rem,
  'h6': 1rem,
  'small': 0.937rem,
  'extra-small': 0.878rem,
);

