.main-blog-filter {
  border-right: 0;

  .widget_categories {
    width: 100% !important;
  }

  .wp-block-categories-list {
    .cat-item {
      float: left;
      padding: 5px 9px;
      margin-right: 10px;
      border: 1px solid $hsc-blue-dark;
      border-radius: 2px;
      cursor: pointer;
      font-size: 14px;
      transition: $transition-default;

      a {
        color: $hsc-blue-dark;
      }

      &:hover {
        background: rgba($hsc-yellow, 0.8);
        box-shadow: 0 6px 8px -4px rgba($hsc-black, 0.5);
      }

      &.current-cat {
        background: $hsc-yellow;
        font-weight: 600;
      }
    }
  }
}
