@include media($down: sm) {
  .hsc--content-slider {
    max-width: none;
    display: flex;
    white-space: nowrap;
    flex-direction: row;
    column-gap: 15px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .hsc--content-slider-item {
    width: 0;
    min-width: 300px;
    max-width: 567px;
    margin-left: 15px;

    .dsm_card_description {
      white-space: pre-wrap;
    }
  }
}
