.hsc-sponsor-grid {
  margin: auto -1%;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 12px;
  grid-template-columns: repeat(5, 1fr);

  @include media(sm) {
    gap: 20px;
  }

  &.hsc-sponsor-grid__as_row {
    @include media(sm) {
      display: flex;
    }
  }

  &.high-contrast {
    mix-blend-mode: luminosity;
    backface-visibility: hidden;
    filter: brightness(60%) invert(100%);
  }

  &.items-per-row-10 {
    @include media(sm) {
      grid-template-columns: repeat(10, 1fr);
    }
  }

  &.items-per-row-9 {
    @include media(sm) {
      grid-template-columns: repeat(9, 1fr);
    }
  }

  &.items-per-row-8 {
    @include media(sm) {
      grid-template-columns: repeat(8, 1fr);
    }
  }

  &.items-per-row-7 {
    @include media(sm) {
      grid-template-columns: repeat(7, 1fr);
    }
  }

  &.items-per-row-6 {
    @include media(sm) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &.items-per-row-5 {
    @include media(sm) {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &.items-per-row-4 {
    @include media(sm) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &.items-per-row-3 {
    @include media(sm) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &.items-per-row-2 {
    @include media(sm) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &.items-per-row-1 {
    display: flex;
  }

  .hsc-sponsor-grid__item {
    overflow: hidden;
    aspect-ratio: 35/21;
  }
}
