@use '../setup/variables' as variables;
//@use '../setup/mixins' as mixins;
//@use '../setup/extends' as extends;
//@use '../setup/functions' as functions;

.hsc-member-card-benefit {
  margin-bottom: 50px !important;

  .dsm_card_image_wrapper {
    background: variables.$color-white;
    height: 200px;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .dsm_card_badge_text {
    font-size: variables.$font-size--default;
    line-height: variables.$line-height--default;
    font-family: variables.$font-family-bold;
  }

  .dsm_card_subtitle {
    margin-bottom: 8px;
  }

  .dsm_card_description {
    min-height: 170px;
  }
}
