.hsc-member-card-benefit {
  margin-bottom: 50px !important;

  .dsm_card_image_wrapper {
    background: $color-white;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .dsm_card_subtitle {
    margin-bottom: 8px;
  }
}
