.hsc--post-slider {
  --spacing: 20px;

  position: relative;
  width: 100%;
  margin: auto;
  z-index: 1;

  @include media(sm) {
    --spacing: 30px;
  }

  .hsc--slider-container {
    display: flex;
    scroll-behavior: smooth;
    align-items: center;
    flex-flow: row nowrap;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    height: 450px;
    min-height: 450px;

    /* Hide the scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @include media(sm) {
      height: 60vh;
    }
  }

  .hsc--slide {
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(0,0,0,.1) !important;
      background: linear-gradient(0deg, #EDECEC 0%, #EDECEC 6%, rgba($color-grayscale--850, 0.5) 32%, rgba(237, 236, 236, 0) 50%)
    }

    @include media(sm) {
      &::after {
        background: linear-gradient(0deg, #EDECEC 0%, #EDECEC 0%, rgba($color-grayscale--850, 0.5) 30%, rgba(237, 236, 236, 0) 50%)
      }
    }
  }

  .hsc--slide .hsc--slide-image {
    object-fit: cover;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-position: 50% 30%;
    transform-origin: 50% 52%;
  }

  .hsc--slide.active .hsc--slide-image {
    animation: zoomIn 6000ms linear forwards;
    animation-delay: 500ms;
  }

  .hsc--slide .hsc--slide-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 1344px;
    position: absolute;
    width: calc(100% - 40px);
    height: 100%;
    z-index: 2;
  }

  .hsc--slide .hsc--slide-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing);
    margin-bottom: var(--spacing);

    @include media(sm) {
      align-items: flex-end;
      flex-direction: row;
      justify-content: space-between;
      transform: translateX(30%);
      transition: opacity 250ms ease-in;
      transition-delay: 300ms;
      opacity: 0;
    }
  }

  .hsc--slide.active .hsc--slide-content {
    @include media(sm) {
      animation: slideIn 250ms forwards;
      animation-delay: 500ms;
      opacity: 1;
    }
  }

  .hsc--slide .hsc--slide-title {
    font-size: clamp(1.8rem, 5vw, 3.5rem);
    font-family: $font-family-bold;
    line-height: 1.15em;
    color: $color-blue-dark;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0.5px;
  }

  .hsc--slide .hsc--slide-button {
    font-family: $font-family-bold;
    font-size: $font-size--default;
    line-height: $line-height--default;
    transition: all $transition-default;
    background-color: rgba($color-yellow, 0.9);
    padding: 8px 16px;
    color: rgba($color-black, 0.9);
    text-decoration: none;
    box-shadow: 0 4px 4px rgba(0, 15, 30, 0.1);
    white-space: nowrap;

    &:hover {
      background-color: rgba($color-yellow, 0.7);
    }

    @include media(sm) {
      padding: 15px 30px;
      font-size: $font-size--h6;
    }
  }

  .hsc--slider-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4.3rem;
    background-color: rgba($color-white, 0.6);
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.2;
    transition: opacity 100ms;
    z-index: 10;
  }

  .hsc--slider-arrow:hover,
  .hsc--slider-arrow:focus {
    opacity: 0.8;
  }

  #hsc--slider-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
  }

  #hsc--slider-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
  }

  .hsc--slider-pagination {
    background: $color-grayscale--850;
    padding-bottom: var(--spacing);

    .hsc--slider-pagination-inner {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      max-width: 1344px;
      width: calc(100% - 40px);
      margin: auto;
    }

    .hsc--pagination-item {
      z-index: 10;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }

    .hsc--pagination-progress {
      width: 100%;
      height: 3px;
      background-color: $color-grayscale--500; // Set static background to grey
      position: relative; // Needed to position the pseudo-element
      overflow: hidden; // Ensures the pseudo-element does not exceed the parent's bounds
      transform: skewX(-7.77deg);
      transition: all $transition-default;

      // Create a pseudo-element for the red loading bar
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0; // Start from zero width
        background-color: $color-yellow;
        transform-origin: left;
      }

      @include media(sm) {
        height: 4px;
      }
    }

    .hsc--pagination-title {
      color: $color-grayscale--500;
      font-family: $font-family-semibold;
      font-size: $font-size--default;
      display: none;
      transition: all $transition-default;

      @include media(sm) {
        display: block;
      }
    }

    .hsc--pagination-item.active {
      .hsc--pagination-progress:before {
        animation: fillProgress 6000ms linear forwards;
      }

      .hsc--pagination-title {
        color: $color-blue-dark;
      }
    }
  }

  @keyframes fillProgress {
    0% {
      width: 0;
    }
    100% {
      width: 100%; // Animates to full width
    }
  }

  @keyframes zoomIn {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }

  @keyframes slideIn {
    100% { transform: translateX(0%); }
  }
}
