@use '../setup/variables' as variables;
@use '../setup/mixins' as mixins;
//@use '../setup/extends' as extends;
//@use '../setup/functions' as functions;

.hsc--post-slider {
  --spacing: 20px;

  position: relative;
  width: 100%;
  margin: auto;
  z-index: 1;

  @include mixins.media(sm) {
    --spacing: 30px;
  }

  .hsc--slider-container {
    display: flex;
    scroll-behavior: smooth;
    align-items: center;
    flex-flow: row nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    height: 450px;
    min-height: 450px;

    /* Hide the scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @include mixins.media(sm) {
      height: 60vh;
    }
  }

  .hsc--slide {
    $slide-shadow-color: variables.$color-grayscale--0;

    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(variables.$color-black, 0.06) !important;
      background: linear-gradient(to bottom,
        rgba(variables.$color-blue-light-alt, 0.2) 20%,
        rgba(variables.$color-blue-dark-alt, 0.99) 100%
      );
  }
  }

  .hsc--slide .hsc--slide-image {
    object-fit: cover;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-position: 50% 30%;
    transform-origin: 50% 52%;
  }

  .hsc--slide.active .hsc--slide-image {
    animation: zoomIn 6000ms linear forwards;
    animation-delay: 500ms;
  }

  .hsc--slide .hsc--slide-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 1344px;
    position: absolute;
    width: calc(100% - 40px);
    height: 100%;
    z-index: 2;

    @include mixins.media(sm) {
      width: 90%;
    }
  }

  .hsc--slide .hsc--slide-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing);
    margin-bottom: var(--spacing);

    @include mixins.media(sm) {
      align-items: flex-end;
      flex-direction: row;
      justify-content: space-between;
      transform: translateX(30%);
      transition: opacity 250ms ease-in;
      transition-delay: 300ms;
      opacity: 0;
    }
  }

  .hsc--slide.active .hsc--slide-content {
    @include mixins.media(sm) {
      animation: slideIn 250ms forwards;
      animation-delay: 500ms;
      opacity: 1;
    }
  }

  .hsc--slide .hsc--slide-title {
    font-size: clamp(1.8rem, 5vw, 3.5rem);
    font-family: variables.$font-family-bold;
    line-height: 1.15em;
    color: variables.$color-grayscale--900;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0.5px;
  }

  .hsc--slide .hsc--slide-button {
    font-family: variables.$font-family-bold;
    font-size: variables.$font-size--default;
    line-height: variables.$line-height--default;
    transition: all variables.$transition-default;
    background-color: rgba(variables.$color-yellow, 0.9);
    padding: 8px 16px;
    color: rgba(variables.$color-black, 0.9);
    text-decoration: none;
    box-shadow: 0 4px 4px rgba(0, 15, 30, 0.1);
    white-space: nowrap;

    &:hover {
      background-color: rgba(variables.$color-yellow, 0.7);
    }

    @include mixins.media(sm) {
      padding: 15px 30px;
      font-size: variables.$font-size--h6;
    }
  }

  .hsc--slider-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4.3rem;
    background-color: rgba(variables.$color-white, 0.6);
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0 0 10px 0;
    cursor: pointer;
    opacity: 0.2;
    transition: opacity 100ms;
    z-index: 10;
    align-items: center;
    overflow: hidden;
  }

  .hsc--slider-arrow:hover {
    opacity: 0.8;
  }

  #hsc--slider-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
  }

  #hsc--slider-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
  }

  .hsc--slider-pagination {
    background: variables.$color-blue-dark-alt;
    padding-bottom: var(--spacing);

    .hsc--slider-pagination-inner {
      display: flex;
      gap: 10px;
      max-width: 1344px;
      width: 100%;
      margin: auto;
      justify-content: center;
      align-items: center;
    }

    .hsc--pagination-item {
      z-index: 10;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      opacity: 0.6;
      transition: all variables.$transition-very-slow;
      width: 20px;
    }

    .hsc--pagination-progress {
      width: 100%;
      height: 4px;
      background-color: rgba(variables.$color-grayscale--0, 0.2);
      position: relative; // Needed to position the pseudo-element
      overflow: hidden; // Ensures the pseudo-element does not exceed the parent's bounds
      transform: skewX(-7.77deg);
      transition: all variables.$transition-very-slow;
    }

    .hsc--pagination-title {
      color: rgba(variables.$color-grayscale--1000, 0.2);
      font-family: variables.$font-family-semibold;
      font-size: variables.$font-size--small;
      line-height: 1.1;
      display: none;
      transition: all variables.$transition-very-slow;
    }

    .hsc--pagination-item.active {
      opacity: 1;

      .hsc--pagination-progress {
        background-color: rgba(variables.$color-grayscale--0, 0.5);
      }

      .hsc--pagination-title {
        color: rgba(variables.$color-grayscale--1000, 0.5);
      }
    }
  }

  @keyframes zoomIn {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }

  @keyframes slideIn {
    100% {
      transform: translateX(0%);
    }
  }
}
