.hsc-quicklinks {
  display: flex;
  align-items: center;
  justify-content: center;

  .hsc-quicklink {
    @extend .hsc-btn;
    @extend .box-shadow;
    @extend .hsc-btn-yellow;
    @extend .hsc-btn-xs;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  .hsc-quicklink--inverted {
    @extend .hsc-btn;
    @extend .box-shadow-yellow;
    @extend .hsc-btn-primary;
    @extend .hsc-btn-xs;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
