.h1-heading {
    @extend .clear-margins;
    @extend .clear-paddings;
    @include font-bold-italic(60px, 60px);

    @media #{$viewport-phone} {
        @include font-bold-italic(50px, 50px);
    }
}

.h2-heading {
    @extend .clear-margins;
    @extend .clear-paddings;
    @include font-bold-italic(44px, 44px);

    @media #{$viewport-phone} {
        @include font-bold-italic(38px, 38px);
    }
}

.h3-heading {
    @extend .clear-margins;
    @extend .clear-paddings;
    @include font-bold-italic(36px, 36px);

    @media #{$viewport-phone} {
        @include font-bold-italic(32px, 32px);
    }
}

.h4-heading {
    @extend .clear-margins;
    @extend .clear-paddings;
    @include font-bold-italic(28px, 28px);

    @media #{$viewport-phone} {
        @include font-bold-italic(28px, 28px);
    }
}

.h5-heading {
    @extend .clear-margins;
    @extend .clear-paddings;
    @include font-bold-italic(24px, 24px);

    @media #{$viewport-phone} {
        @include font-bold-italic(24px, 24px);
    }
}

b,
strong {
    @extend .text-semibold;
    color: $hsc-blue-dark;
}

body,
input,
select,
textarea {
    @extend .text-normal;
    font-weight: normal !important;
    color: $hsc-blue-dark;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    @extend .text-bold-italic;
    color: $hsc-blue-dark;

    &.text-yellow {
        text-shadow: 1px 1px $hsc-blue-dark;
    }

    &.text-shadow {
        text-shadow: 1px 1px $hsc-blue-dark;
    }
}

.text-size-xs {
    font-size: 65%;
}

.text-size-sm {
    font-size: 85%;
}

.text-size-md {
    font-size: 110%;
}

.text-size-lg {
    font-size: 120%;
}

.text-size-xlg {
    font-size: 135%;
}

.text-white {
    color: $hsc-white !important;
}

.text-blue {
    color: $hsc-blue-dark !important;
}

.text-yellow {
    color: $hsc-yellow !important;
}

.text-grey {
    color: $hsc-grey !important;
}

.text-bold {
    font-family: 'URWGeometric-Black' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.5pt;
    font-weight: normal !important;
}

.text-semibold {
    font-family: 'URWGeometric-SemiBold' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.5pt;
    font-weight: normal !important;
}

.text-light {
    font-family: 'URWGeometric-Light' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.5pt;
    font-weight: normal !important;
}

.text-normal {
    font-family: 'URWGeometric-Regular' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.5pt;
    font-weight: normal !important;
}

.text-normal-italic {
    font-family: 'URWGeometric-RegularOblique' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.5pt;
    font-weight: normal !important;
}

.text-light-italic {
    font-family: 'URWGeometric-LightOblique' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.5pt;
    font-weight: normal !important;
}

.text-bold-italic {
    font-family: 'URWGeometric-BlackOblique' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.5pt;
    font-weight: normal !important;
}

.text-semibold-italic {
    font-family: 'URWGeometric-SemiBoldOblique' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.5pt;
    font-weight: normal !important;
}
