.main-footer {
    height: 60px;
    background: transparent;
    position: relative;

    @media #{$viewport-phone} {
        display: none;
    }

    .footer-bottom {
        @extend .clear-paddings;
        height: 60px;
        position: absolute;
        bottom: 0;
        width: 100%;
        background: $hsc-blue-dark;
        background: -moz-linear-gradient(left, $hsc-blue-dark 0%, $hsc-blue-dark 50%, $hsc-yellow 50%, $hsc-yellow 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, $hsc-blue-dark 0%, $hsc-blue-dark 50%, $hsc-yellow 50%, $hsc-yellow 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, $hsc-blue-dark 0%, $hsc-blue-dark 50%, $hsc-yellow 50%, $hsc-yellow 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$hsc-blue-dark, endColorstr=$hsc-yellow, GradientType=1); /* IE6-9 */

        > .container {
            height: 100%;
            background: $hsc-blue-dark;
        }
    }

    .footer-logo {
        width: 100px;
        height: 100px;
        display: inline-block;
        position: absolute;
        bottom: 10px;
    }

    .footer-nav {
        background: none;
        float: left;
        margin-left: 110px;

        > .container {
            display: block;
            width: inherit;
        }

        #menu-footer-menu {
            display: inline-block;
        }

        .bottom-nav {
            li {
                padding-right: 10px;
            }

            a {
                padding: 15px 5px;
                color: $hsc-white;
            }
        }
    }

    .footer-social {
        float: right;
        height: 100%;
        -moz-transform: skewX(-15deg);
        -webkit-transform: skewX(-15deg);
        -o-transform: skewX(-15deg);
        -ms-transform: skewX(-15deg);
        transform: skewX(-15deg);
        background: $hsc-yellow;
        padding: 18px 15px 15px 25px;

        li {
            -moz-transform: skewX(15deg);
            -webkit-transform: skewX(15deg);
            -o-transform: skewX(15deg);
            -ms-transform: skewX(15deg);
            transform: skewX(15deg);
            float: left;
            font-size: 16px;
            font-weight: bold;
            color: $hsc-blue-dark;
            margin-right: 10px;
        }

        .et-social-icon {
            a {
                color: $hsc-blue-dark;
                font-size: 24px;
            }
        }

        &:after {
            content: ' ';
            position: absolute;
            top: 0;
            right: -25px;
            width: 50px;
            height: 100%;
            z-index: -1;
            background: $hsc-yellow;
        }
    }
}

.mobile-footer {
    text-align: center;
    display: none;

    @media #{$viewport-phone} {
        background: transparent;
        position: relative;
        display: inherit;
    }

    .footer-bottom {
        background: $hsc-blue-dark;
        padding-top: 15px;
    }

    .footer-logo {
        width: 100px;
        height: 100px;
        display: inline-block;
    }

    .footer-nav {
        .container {
            width: 100%;
        }

        .bottom-nav {
            height: 100%;
            display: inline-block;
            text-align: center;
            width: 100%;

            li {
                padding: 15px 0;
                width: 50%;
                float: left;
            }

            a {
                padding: 15px 5px;
                color: $hsc-white;
            }
        }
    }

    .footer-social {
        @extend .clear-paddings;
        background: $hsc-yellow;
        width: 100%;
        height: 70px;

        li {
            float: left;
            width: 50%;

            a {
                padding: 25px;
                color: $hsc-blue-dark;
            }
        }
    }
}
