#main-header {
    background: $hsc-blue-dark !important;
    height: 80px !important;

    .logo_container {
        margin-top: 25px;
        width: 400px;
        z-index: 9999;
        transform: inherit;
        transition: inherit;

        #logo {
            max-height: inherit;
            height: 100px !important;
            width: 100px !important;

            transform: inherit;
            transition: inherit;
        }
    }

    #et-top-navigation {
        transform: inherit;
        transition: inherit;
    }
}

#top-menu {
    li {
        a {
            color: $hsc-white !important;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 15px;
        }
    }

    .sub-menu {
        background: $hsc-blue-dark !important;
        border-color: $hsc-yellow !important;
        padding: 10px 0px;

        li {
            padding: 0 5px;
        }
    }

    .current-menu-item {
        a {
            color: $hsc-yellow !important;
        }

        .sub-menu {
            a {
                color: $hsc-white !important;
            }
        }
    }
}
