@each $item, $size in (n: 0, xs: 5px, sm: 10px, md: 15px, lg: 20px, xl: 25px, xxl: 30px) {
    .m-#{$item} {
        margin: $size;
    }

    .mt-#{$item} {
        margin-top: $size;
    }

    .ml-#{$item} {
        margin-left: $size;
    }

    .mb-#{$item} {
        margin-bottom: $size;
    }

    .mr-#{$item} {
        margin-right: $size;
    }
}

.clear-margins {
    margin: 0;
}
