.et_pb_all_tabs {
    padding: 0;
}

#main-intro-slider .header-content {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#main-content .container {
    padding-top: 85px;
    padding-bottom: 85px;
}

@media #{$viewport-phone} {
    #main-content .container {
        width: 92%;
    }

    .et_pb_row {
        width: 100%;
        padding: 0 15px;
    }
}
