$hsc-white: #ffffff;
$hsc-blue-dark: #1c284b;
$hsc-blue-light: #4276b9;
$hsc-yellow: rgb(255, 219, 000);
$hsc-grey: #ddd;

$break-small: 320px;
$break-large: 1200px;

$viewport-phone: "only screen and (max-width : 767px)";
$viewport-tablet: "only screen and (max-width : 1000px)";
