$hsc-white: #ffffff;
$hsc-blue-dark: #1a2b4a;
$hsc-blue-light: #e7e9ec;
$hsc-yellow: #ffdb00;
$hsc-yellow-rgba: rgb(255, 219, 000);
$hsc-red: #e4303f;
$hsc-green: #2ac56c;
$hsc-orange: #f19f0f;
$hsc-grey: #ddd;
$hsc-black: #181818;

$hsc-grey-light: #fafafa;
$hsc-grey-mid: #c2c2c2;
$hsc-grey-dark: #e0e0e0;

$break-small: 320px;
$break-large: 1200px;

$viewport-phone: "only screen and (max-width : 767px)";
$viewport-tablet: "only screen and (max-width : 980px)";
$viewport-desktop: "only screen and (min-width : 981px)";
