.hsc-slider-sponsor-premium .swiper-slide {
  height: 120px;
}

.dsm_image_carousel .dsm_image_carousel_container {
  margin-bottom: 0;
}

.dsm_image_carousel .swiper-slide .dsm_image_carousel_link img {
  width: auto;
}
