.gm-mega-menu__item__title {
  display: none;
}

#main-page-menu {
  font-family: 'URWGeometric-BlackOblique';

  .gm-main-menu-wrapper, .gm-navbar,
  .gm-navigation-drawer {
    font-family: inherit;
  }

  .gm-inner {
    z-index: 12;
    padding: 10px 0;
  }

  .gm-navbar-sticky-toggle .gm-logo {
    margin-top: 0;
  }

  .gm-toolbar-socials-list {
    order: 1;
    margin-right: 30px !important;
  }

  .gm-burger {
    .hamburger-inner::before {
      width: 25px;
    }

    .hamburger-inner::after {
      width: 27px;
    }

    &.is-active {
      .hamburger-inner::before,
      .hamburger-inner::after {
        width: 30px;
      }
    }
  }
}
