%link--dark-blue {
  color: $color-primary--1;

  path {
    fill: $color-primary--1;
  }

  &:hover,
  &:active,
  &:focus {
    color: $color-primary--2;

    path {
      fill: $color-primary--2;
    }
  }
}

%link--light-blue {
  color: $color-primary--2;

  path {
    fill: $color-primary--2;
  }

  &:hover,
  &:active,
  &:focus {
    color: $color-primary--1;

    path {
      fill: $color-primary--1;
    }
  }
}

%link--white {
  color: $color-primary--4;

  path {
    fill: $color-primary--4;
  }

  &:hover,
  &:active,
  &:focus {
    color: $color-primary--2;

    path {
      fill: currentColor;
    }
  }
}

%link--gray {
  color: $color-grayscale--200;

  path {
    fill: currentColor;
  }

  &:hover,
  &:active,
  &:focus {
    color: $color-primary--2;

    path {
      fill: currentColor;
    }
  }
}
