//@use '../setup/variables' as variables;
@use '../setup/mixins';

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  width: 100%;

  @include mixins.media(sm) {
    font-size: 18px;
  }
}

h1, .h1 {
  font-size: 2.986rem;

  @include mixins.media(xs) {
    font-size: 2.027rem;
  }
}

h2, .h2 {
  font-size: 2.488rem;

  @include mixins.media(xs) {
    font-size: 1.802rem;
  }
}

h3, .h3 {
  font-size: 2.074rem;

  @include mixins.media(xs) {
    font-size: 1.602rem;
  }
}

h4, .h4 {
  font-size: 1.728rem;

  @include mixins.media(xs) {
    font-size: 1.424rem;
  }
}

h5, .h5 {
  font-size: 1.44rem;

  @include mixins.media(xs) {
    font-size: 1.266rem;
  }
}

h6, .h6 {
  font-size: 1.2rem;

  @include mixins.media(xs) {
    font-size: 1.125rem;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.15em;
  letter-spacing: -0.022em;
  font-weight: bold;
}

