@use 'sass:math';
@use '../setup/variables' as variables;
@use '../setup/extends';
@use '../setup/mixins' as mixins;
//@use '../setup/functions' as functions;

#hsc-header-nav-mobile {
  $mobile-menu-height: 84px;
  $mobile-nav-index: 100;

  position: sticky;
  top: 0;
  width: 100%;
  z-index: $mobile-nav-index;
  opacity: 1;
  transition: opacity 250ms ease-in-out;

  &.hide {
    opacity: 0;
  }

  @include mixins.media(sm) {
    display: none;
  }

  .hsc-header-nav-mobile-container {
    position: relative;
    background-color: variables.$color-blue-dark;
    display: grid;
    grid-template-columns: auto 50px 50px;
    grid-template-rows: auto;
    align-items: center;
    gap: 5px;
    padding: 15px 5px 15px 15px;
    height: $mobile-menu-height;
    z-index: $mobile-nav-index;
  }

  .hsc--menu-home-link {
    font-size: variables.$font-size--h5;
    line-height: variables.$line-height--default;
    font-family: variables.$font-family-bold;
    grid-column: 1/1;
    color: variables.$color-white;
    display: flex;
    align-items: center;

    svg {
      padding-right: 15px;
      width: 55px;
    }
  }

  .hsc--menu-premium-sponsor-link {
    grid-column: 2/2;
    cursor: pointer;
    display: flex;
    align-items: center;

    svg {
      border-radius: 3px;
      width: 130px;
    }
  }

  .hsc--toggle-btn {
    @extend %button-reset;

    display: inline-block;
    cursor: pointer;
    grid-column: 3/3;
    text-align: right;
    margin: auto;
    z-index: $mobile-nav-index + 10;
    padding: 14px;
    background-color: transparent;

    .hsc--toggle-btn--bar1, .hsc--toggle-btn--bar2, .hsc--toggle-btn--bar3 {
      display: block;
      width: 22px;
      height: 2px;
      background-color: variables.$color-white;
      margin: 5px 0;
      transition: 0.4s;
      z-index: $mobile-nav-index + 10;
    }

    &.active {
      .hsc--toggle-btn--bar1 {
        transform: translate(0, 6px) rotate(-45deg);
      }
      .hsc--toggle-btn--bar2 {
        opacity: 0;
      }
      .hsc--toggle-btn--bar3 {
        transform: translate(0, -8px) rotate(45deg);
      }
    }
  }

  .hsc--menu-overlay {
    position: fixed;
    top: $mobile-menu-height;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $mobile-nav-index - 1;
    overflow: auto;
    transform: translateY(-100%);
    background-color: rgba(variables.$color-blue-dark, 0.98);
    color: variables.$color-white;
    transition: transform 0.4s ease; /* Define your transition for the transform property */
    will-change: transform; /* Optimizes for animations */
    backdrop-filter: blur(24px);

    &.active {
      transform: translateY(0px);
    }
  }

  .hsc--menu-overlay-highlights {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(variables.$color-white, 0.4);
  }

  .hsc--menu-overlay-highlights-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    color: variables.$color-blue-dark;
    font-family: variables.$font-family-bold;
    font-size: variables.$font-size--small;

    svg {
      width: 30px;
    }

    &.shop svg {
      width: 26px;
      margin-top: 2px;
      margin-bottom: 2px;
    }

    &:after {
      content: '';
      position: absolute;
      right: 0;
      height: 50px;
      width: 1px;
      background-color: variables.$color-blue-dark;
    }
  }

  .hsc--menu-backdrop {
    @extend %button-reset;

    position: fixed;
    top: $mobile-menu-height;
    left: 0;
    height: 0;
    width: 0;
    z-index: $mobile-nav-index - 2;
    display: flex;
    align-items: flex-start;
    pointer-events: none;
    background: variables.$color-black;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    cursor: pointer;
    padding: 0;
    margin: 0;

    &.active {
      opacity: 0.8;
      pointer-events: all;
      height: 100%;
      width: 100%;
    }
  }

  .hsc--nav {
    @extend %list-reset;

    display: flex;
    flex-direction: column;
  }

  .hsc--nav-main-item {
    border-left: 4px solid transparent;
    padding: .25rem 0;
    border-bottom: 1px solid rgba(variables.$color-black, 0.6);
  }

  .hsc--nav-main-link {
    font-size: 1.25rem;
    line-height: 1;
    display: block;
    padding: 1.5rem 15px;
    color: variables.$color-white;
    font-family: variables.$font-family-semibold;
  }

  .hsc--nav-main-item.menu-item-has-children .hsc--nav-main-link {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      right: 15px;
      top: 25px;
      border: solid variables.$color-white;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transition: all variables.$transition-default;
      transform: rotate(45deg);
      pointer-events: none;
    }
  }

  .hsc--nav-main-item.menu-item-has-children .hsc--nav-main-link.active {
    border-color: transparent;

    &:after {
      transform: rotate(225deg);
    }
  }

  .hsc--subnav {
    @extend %list-reset;

    padding: 0;
    transition: all variables.$transition-default;
    max-height: 0;
    overflow: hidden;
  }

  .hsc--subnav-item {
    border-left: 4px solid transparent;
  }

  .hsc--subnav-link {
    font-size: variables.$font-size--default;
    line-height: variables.$line-height--default;
    display: block;
    padding: 10px 10px 10px 30px;
    color: variables.$color-white;
    font-family: variables.$font-family-semibold;
  }

  .current_page_item {
    border-left-color: variables.$color-yellow;
  }

  .hsc--menu-premium-sponsor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px 10px;
    margin-bottom: 50px;

    img {
      border-radius: 3px;
    }

    span {
      font-size: variables.$font-size--xs;
      line-height: variables.$line-height--default;
      display: block;
      margin-top: 15px;
      text-transform: uppercase;
      font-family: variables.$font-family-roboto;
      letter-spacing: 0.5px;
    }
  }
}
