@use 'sass:math';
@use '../setup/variables' as variables;
@use '../setup/extends';
@use '../setup/mixins' as mixins;
//@use '../setup/functions' as functions;

// Fix divi and worpdress classes in order to make sticky work.
//header {
//  display: contents;
//  height: 100%;
//
//  .et_builder_inner_content,
//  .et_pb_section,
//  .et_pb_module,
//  .et_pb_code_inner {
//    display: contents;
//  }
//}

//.no-scroll {
//  overflow: hidden;
//  height: 100%;
//  width: 100%;
//  position: fixed; /* This prevents scrolling on iOS */
//}

// Fix the admin bar.
//.admin-bar {
//  #wpadminbar {
//    overflow: hidden;
//    display: none;
//
//    @include mixins.media(sm) {
//      display: block;
//    }
//  }
//
//  #hsc-header-nav-desktop {
//    top: 32px;
//  }
//}

.hsc-header-nav-container {
  max-width: 1420px; // same like hockeydata app.
  margin: 0 auto;
}

#hsc-header-nav-toolbar {
  background-color: variables.$color-blue-dark;
  display: none;

  @include mixins.media(sm) {
    display: block;
  }

  .hsc-header-nav-container {
    display: grid;
    gap: 15px 16px;
    grid-template-areas:
        ". logo meta ."
        ". logo sponsor .";
    grid-template-columns: 0 minmax(50%, 1fr) minmax(calc(50% - 48px), 1fr) 0;
    height: 96px;
    width: 100%;
    margin: 0 auto;
    padding: 16px 0 13px;
    overflow: hidden;
  }

  .hsc--logo {
    line-height: variables.$line-height--default;
    font-family: variables.$font-family-bold;
    grid-area: logo / logo / logo / logo;
    display: flex;
    align-items: center;
    color: variables.$color-white;

    svg {
      margin-right: 20px;
      width: 70px;
    }
  }

  .hsc--nav {
    @extend %list-reset;

    grid-area: meta / meta / meta / meta;
    grid-row: 1/1;
    display: flex;
    justify-content: flex-end;
  }

  .hsc--nav-main-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 8px;
    position: relative;
    cursor: pointer;
  }

  .hsc--nav-main-link {
    font-size: 1rem;
    line-height: variables.$line-height--default;
    transition: color variables.$transition-default;
    border-bottom: 1px solid transparent;
    font-family: variables.$font-family-semibold;
    color: rgba(variables.$color-white, 0.8);
    letter-spacing: 0.2px;
    display: block;
  }

  .current-menu-item .hsc--nav-main-link,
  .hsc--nav-main-item:hover .hsc--nav-main-link {
    border-color: variables.$color-yellow;
    color: rgba(variables.$color-white, 1);
  }

  .hsc--premium-sponsor {
    grid-area: sponsor / sponsor / sponsor / sponsor;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8px;

    .hsc--label {
      font-size: variables.$font-size--small;
      line-height: variables.$line-height--default;
      font-family: variables.$font-family-default;
      color: variables.$color-white;
      padding-right: 8px;
      padding-bottom: 3px;
    }

    .hsc--menu-premium-sponsor-link {
      svg {
        border-radius: 3px;
        width: 55px;
      }
    }
  }
}

#hsc-header-nav-desktop {
  transition: background-color variables.$transition-default;
  background-color: variables.$color-bluescale--4;
  padding: 5px 16px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20000;
  display: none;

  @include mixins.media(sm) {
    display: block;
  }

  &.is-sticky {
    background-color: variables.$color-blue-dark;

    .hsc-header-nav-container {
      grid-template-columns: 55px 1fr;
      gap: 5px;
    }

    .hsc--logo svg {
       transform: scale(1);
    }
  }

  .hsc-header-nav-container {
    display: grid;
    grid-template-columns: 5px 1fr;
    grid-template-rows: auto;
  }

  .hsc--logo {
    grid-column: 1/1;
    display: flex;
    align-items: center;

    svg {
      transition: transform 0.1s ease-in-out 0s;
      display: inline-block;
      transform: scale(0);
      width: 55px;
    }
  }

  .hsc--nav {
    @extend %list-reset;

    grid-column: 2/2;
    display: flex;
  }

  .hsc--nav-main-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    position: relative;
    cursor: pointer;
  }

  .hsc--nav-main-item.menu-item-ticket {
    .hsc--nav-main-link {
      padding-left: 20px;
    }

    &:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: url('images/ticket.svg') no-repeat;
      left: 10px;
      filter: invert(100%);
    }
  }

  .hsc--nav-main-item:hover .hsc--subnav {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .hsc--nav-main-link {
    font-size: 1rem;
    line-height: variables.$line-height--default;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
    font-family: variables.$font-family-bold;
    color: variables.$color-white;
    letter-spacing: 0.3px;
    display: block;
    padding: 6px 2px;
  }

  .current-menu-item .hsc--nav-main-link,
  .hsc--nav-main-item:hover .hsc--nav-main-link {
    border-bottom: 2px solid variables.$color-yellow;
  }

  .hsc--subnav {
    @extend %list-reset;

    position: absolute;
    top: 100%;
    left: -8px;
    background-color: rgba(variables.$color-bluescale--4, 0.9);
    border-top: 1px solid rgba(variables.$color-bluescale--2, 0.8);
    border-radius: 0 0 2px 2px;
    overflow: hidden;
    width: 240px;
    z-index: 9999;
    transition: all variables.$transition-default;
    box-shadow: 0 2px 5px rgba(variables.$color-bluescale--2, 0.1);
    visibility: hidden;
    opacity: 0;
  }

  .hsc--subnav-item {
    transition: all variables.$transition-default;
    padding: 0 20px;
  }

  .hsc--subnav-item:hover {
    background-color: rgba(variables.$color-bluescale--1, 0.2);

    .hsc--subnav-link {
      color: variables.$color-yellow;
    }
  }

  .hsc--subnav-link {
    font-size: 1rem;
    line-height: variables.$line-height--default;
    transition: all variables.$transition-default;
    display: block;
    padding: 10px 0;
    font-family: variables.$font-family-semibold;
    color: variables.$color-white;
    letter-spacing: 0.1px;
    border-bottom: 1px solid rgba(variables.$color-bluescale--4, 0.8);
  }

  .hsc--subnav-item:last-child .hsc--subnav-link {
    border-bottom: 0;
  }
}
