aside.hsc-main-menu {
    .gm-menu-btn {
        display: flex;
        justify-content: flex-end;

        .gm-menu-btn__inner > i {
            font-size: 30px;
        }
    }

    .gm-navbar-nav {
        margin-left: 0 !important;
    }

    .gm-anchor,
    .gm-mega-menu__item__title {
        color: $hsc-black;
        border-bottom: 1px solid rgba($hsc-black, 0.6);

        &.current-menu-item {
            color: $hsc-blue-dark;
        }
    }

    .gm-dropdown-menu--lvl-1 {
        .gm-anchor,
        .gm-menu-item__link {
            color: rgba($hsc-black, 0.8);
            border-bottom: 1px solid rgba($hsc-black, 0.4);
        }
    }
}
