.hsc-game-schedule-widget {
    float: left;
    width: 100%;
    font-size: 18px;
    text-align: center;
    padding: 15px;
    border: 1px solid $hsc-blue-dark;

    .schedule-widget-holder {
        @extend .flexbox;
        align-items: center;
        margin-bottom: 5px;
    }

    .image {
        width: 35%;
        text-align: center;

        img {
            max-width: 100px;
            max-height: 100px;

            @media #{$viewport-phone} {
                max-width: 75px;
                max-height: 75px;
            }
        }
    }

    .meta {
        display: inline-block;
        width: 30%;
        text-align: center;
    }

    .date {
        margin-bottom: 10px;
    }

    .time {
        font-size: 26px;
    }

    .scores {
        display: inline-block;
        margin: auto;
        font-size: 26px;

        .score,
        .divider {
            float: left;
        }
    }

    .teams {
        width: 100%;
        font-size: 14px;
    }

    &.last-game-widget {
        .time {
            display: none;
        }
    }

    &.next-game-widget {
        .scores {
            display: none;
        }
    }
}