.hsc-game-schedule-list {
    width: 100%;
    display: block;
    float: left;
}

.hsc-game-schedule-list-item {
    width: 100%;
    float: left;
    height: 100px;
    display: table;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    margin-bottom: 25px;

    .schedule {
        width: 100%;
        float: left;
        background: #f5f5f5;
        margin-bottom: 10px;
        padding: 6px 10px;
        @include font-semibold(14px);

        @media print {
            background: #eee;
        }
    }

    .date {
        @extend .table-cell-middle;
        width: 70px;
    }

    .time {
        @extend .table-cell-middle;
        width: 55px;
    }

    .game {
        display: table;
        width: 100%;
        float: left;
    }

    .teams {
        @extend .table-cell-middle;
        @include font-semibold(16px);
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 15px;

        .divider {
            display: none;
            float: left;
            width: 20px;
            height: 1px;
            margin: 5px 3px;
            @include bg-hsc-blue(0.4);

            @media #{$viewport-phone} {
                display: block;
            }
        }

        .team {
            display: table;
            float: left;
            width: 50%;

            @media #{$viewport-phone} {
                width: 100%;
                padding-left: 2px;
            }
        }

        .teamlogo {
            @extend .table-cell-middle;
            width: 50px;
            padding-right: 15px;

            img {
                @extend .table-cell-middle;
                max-width: 50px;
                max-height: 50px;

                @media print {
                    max-width: 25px;
                    max-height: 25px;
                }
            }

            @media #{$viewport-phone} {
                display: none;
            }
        }

        .teamname {
            @extend .table-cell-middle;
        }

        @media #{$viewport-phone} {
            padding-left: 3px;
        }
    }

    .scores {
        @extend .table-cell-middle;
        @include font-bold(18px);
        width: 55px;
        text-align: center;

        @media #{$viewport-phone} {
            @include font-bold(16px);
        }
    }
}
