.hsc-game-schedule-list {

}

.hsc-game-schedule-list-item {
    width: 100%;
    float: left;

    .date {
        float: left;
        height: 40px;
        width: 80px;
        margin-right: 5px;
    }

    .time {
        float: left;
        height: 40px;
        width: 40px;
        margin-right: 5px;
    }

    .teams {
        height: 40px;
        float: left;
    }

    .team {
        float: left;
        height: 20px;
    }

    .scores {
        float: right;
        height: 40px;
        width: 50px;

        .score,
        .divider {
            float: left;
            display: inline-block;
        }
    }
}