.hsc-team-roster {
  width: 100%;

  .hsc-team-roster__section {
    width: 100%;
    margin-bottom: 40px;
  }

  .hsc-team-roster__section-header {
    font-family: 'URWGeometric-Black';
    font-size: 26px;
    letter-spacing: .5pt;
    line-height: 1em;
    border-bottom: 3px solid $hsc-yellow;
    margin-bottom: 30px;
    width: 100%;
  }

  .hsc-team-roster__section-items {
    width: 100%;
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    column-gap: 5%;
    position: relative;

    @include media(md) {
      grid-template-columns: 30% 30% 30%;
    }
  }
}

.hsc-team-roster__player {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 70px;
  position: relative;
  font-family: 'URWGeometric-Black';

  @include media(sm) {
    margin-bottom: 100px;
  }

  &:nth-child(3n+3) {
    margin-right: 0;
  }

  .hsc-team-roster__player-image {
    width: 100%;
    min-height: 104px;

    @include media(md) {
      min-height: 190px;
    }

    .image {
      transition: opacity 0.5s linear 1s; // effect on 0.3 millisecond
      opacity: 1; // set opacity property to 1, completely visible
      box-shadow: 0 12px 18px -6px rgb($hsc-black, 0.3);
      border-radius: 2px;
    }
  }

  .hsc-team-roster__player-meta {
    margin-top: 10px;
  }

  .hsc-team-roster__player-number {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    height: 25%;

    @include media(sm) {
      font-size: 4.5rem;
    }
  }

  .hsc-team-roster__player-name {
    text-align: center;
    font-size: 18px;
    font-family: 'URWGeometric-BlackOblique';

    @include media(sm) {
      font-size: 20px;
    }
  }
}
