.hsc-game-schedule-list {
    width: 100%;
    display: block;
    float: left;
}

.hsc-game-schedule-list-header {
    width: 100%;
    display: table;
    padding: 10px 10px;
    font-weight: bold;

    .date {
        @extend .table-cell-middle;
        width: 80px;
    }

    .time {
        @extend .table-cell-middle;
        width: 55px;
    }

    .team {
        @extend .table-cell-middle;
        padding-left: 15px;
    }

    .scores {
        @extend .table-cell-middle;
        width: 65px;
        text-align: center;
    }
}

.hsc-game-schedule-list-item {
    width: 100%;
    float: left;
    height: 100px;
    padding: 10px 10px;
    display: table;
    border-bottom: 1px solid #fff;

    .schedule {
        width: 100%;
        float: left;
        background: #f5f5f5;
        margin-bottom: 10px;
        padding-left: 10px;
    }

    .date {
        @extend .table-cell-middle;
        width: 80px;
    }

    .time {
        @extend .table-cell-middle;
        width: 55px;
    }

    .game {
        display: table;
        width: 100%;
        float: left;
    }

    .teams {
        @extend .table-cell-middle;
        padding-left: 15px;

        .team {
            display: table;
            margin-bottom: 10px;

            @media #{$viewport-phone} {
                margin-bottom: 5px;
            }
        }

        .teamlogo {
            @extend .table-cell-middle;
            padding-right: 15px;

            img {
                @extend .table-cell-middle;
                max-width: 35px;
                max-height: 35px;
            }

            @media #{$viewport-phone} {
                display: none;
            }
        }

        .teamname {
            @extend .table-cell-middle;
        }
    }

    .scores {
        @extend .table-cell-middle;
        width: 55px;
        text-align: center;
        font-size: 16px;
    }
}