.hsc-news-list-widget {
  .et_pb_post {
    .entry-title {
      margin-top: -15px;
    }

    /* push the more button down */
    .post-content-inner {
      margin-bottom: 10px;
    }
  }
}

/*adjust the image spacing*/
.et_pb_post .entry-featured-image-url {
  margin: 0;
}

/*keep the zoomed in image inside the image frame*/
.et_pb_blog_grid .et_pb_image_container {
  overflow: hidden;
}

/*add a smooth transition for the zoom effect*/
.et_pb_blog_grid .et_pb_image_container img {
  transition: all 0.95s ease;
  -moz-transition: all 0.95s ease;
  -webkit-transition: all 0.95s ease;
}

/*make the featured image zoom in on hover*/
.et_pb_blog_grid .et_pb_post:hover img {
  transform: scale(1.15) rotate(1deg);
  -moz-transform: scale(1.15) rotate(1deg);
  -webkit-transform: scale(1.15) rotate(1deg);
}

.hsc-news-list-premium {
  .et_pb_ajax_pagination_container {
    display: flex;
  }

  .et_pb_post {
    box-shadow: 0px 2px 80px 0px rgba(160, 190, 212, 0.22);
    border-radius: 6px;
    padding: 10px;
    position: relative;
  }

  /*make the title link spread over the entire post*/
  .et_pb_post .entry-title a:after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  /*change the mouse cursor into a pointer*/
  .et_pb_post:hover {
    box-shadow: 0px 2px 80px 0px rgba(160, 190, 212, 0.44);
    cursor: pointer;
  }

  @media (min-width: 767px) {
    .et_pb_post {
      padding: 30px;
      margin-bottom: 30px;
    }

    /*set the image width*/
    .entry-featured-image-url  {
      width: 30%;
      float: left;
      margin-bottom: 0!important;
      padding-top: 30%;
      display: block;
    }

    .entry-featured-image-url img {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      object-fit: cover;
      border-radius: 2px;
    }

    /*set the details width*/
    .entry-title,
    .post-meta,
    .post-content {
      width: 70%;
      float: left;
      padding-left: 30px;
    }
  }
}
