.hsc-slider-sponsor {
  position: relative;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  @include media(null, sm) {
    .dsm_image_carousel .swiper-slide {
      width: 150px !important;
    }
  }

  .swiper-slide .dsm_image_carousel_link img {
    width: 110px !important;
  }
}

.hsc-slider-sponsor-premium {
  @extend .hsc-slider-sponsor;

  .swiper-slide .dsm_image_carousel_link img {
    width: 170px !important;;
  }
}

.dsm_image_carousel .dsm_image_carousel_container {
  margin-bottom: 0;
}
