.-hd-los-game-full-report .-hd-los-game-full-report-game-info {
  color: $color-white;
}

.-hd-los-game-full-report .-hd-los-game-full-report-period-stats {
  color: $color-black;
}

.-hd-los-game-full-report .-hd-los-game-full-report-headline {
  color: $color-white;
}
