.hsc-btn {
    @include font-bold-italic(18px);

    transition: all 0.3s;
    cursor: pointer;
    padding: 20px 80px;
    display: inline-block;
    border: 2px solid $color-blue-dark;
    color: $color-blue-dark;
    background: transparent;

    &:hover {
        background: #ccc;
    }

    &.box-shadow {
        box-shadow: 3px 10px 10px -6px rgba($color-blue-dark, 0.3);
    }

    &.box-shadow-yellow {
        box-shadow: 3px 10px 10px -6px rgba($color-yellow, 0.3);
    }
}

.hsc-btn-xs {
    @include font-bold-italic(14px);
    padding: 4px 10px;
}
.hsc-btn-small {
    @include font-bold-italic(14px);
    padding: 10px 40px;
}

.hsc-btn-big {
    @include font-bold-italic(22px);
    padding: 30px 100px;
}

.hsc-btn-primary {
    background: $color-blue-dark;
    color: $color-white;

    &:hover {
        @include bg-hsc-white(0.1);
        color: $color-blue-dark;
    }
}

.hsc-btn-success {
    background: $color-green;
    color: $color-white;
    border-color: $color-green;

    &:hover {
        @include bg-hsc-white(0.1);
        color: $color-green;
        border-color: $color-green;
    }
}

.hsc-btn-warning {
    background: $color-orange;
    color: $color-white;
    border-color: $color-orange;

    &:hover {
        @include bg-hsc-white(0.1);
        color: $color-orange;
        border-color: $color-orange;
    }
}

.hsc-btn-danger {
    background: $color-red;
    color: $color-white;
    border-color: $color-red;

    &:hover {
        @include bg-hsc-white(0.1);
        color: $color-red;
        border-color: $color-red;
    }
}

.hsc-btn-yellow {
    background: $color-yellow;
    color: $color-blue-dark;
    border-color: $color-yellow;

    &:hover {
        @include bg-hsc-white(0.1);
        color: $color-yellow;
        border-color: $color-yellow;
    }
}

.hsc-btn-link {
    background: transparent !important;
    border-color: transparent !important;

    &:hover {
        background: transparent !important;
        border-color: transparent !important;
    }
}

/* Inverse */
.hsc-btn-primary-inverse {
    @include bg-hsc-white(0.1);
    color: $color-blue-dark;
    border: 3px solid $color-blue-dark;

    &:hover {
        background: $color-blue-dark;
        color: $color-white;
    }
}

.hsc-btn-success-inverse {
    @include bg-hsc-white(0.1);
    color: $color-green;
    border: 3px solid $color-green;

    &:hover {
        background: $color-green;
        color: $color-white;
        border-color: $color-green;
    }
}

.hsc-btn-warning-inverse {
    @include bg-hsc-white(0.1);
    color: $color-orange;
    border: 3px solid $color-orange;

    &:hover {
        background: $color-orange;
        color: $color-white;
        border-color: $color-orange;
    }
}

.hsc-btn-danger-inverse {
    @include bg-hsc-white(0.1);
    color: $color-red;
    border: 3px solid $color-red;

    &:hover {
        background: $color-red;
        color: $color-white;
        border-color: $color-red;
    }
}

.hsc-btn-yellow-inverse {
    @include bg-hsc-white(0.1);
    color: $color-yellow;
    border: 3px solid $color-yellow;

    &:hover {
        background: $color-yellow;
        color: $color-blue-dark;
        border-color: $color-yellow;
    }
}
