.h1-heading {
    @include font-bold-italic(60px, 60px);
    @extend .heading-default;

    @media #{$viewport-phone} {
        @include font-bold-italic(50px, 50px);
    }
}

.h2-heading {
    @include font-bold-italic(44px, 44px);
    @extend .heading-default;

    @media #{$viewport-phone} {
        @include font-bold-italic(38px, 38px);
    }
}

.h3-heading {
    @include font-bold-italic(36px, 36px);
    @extend .heading-default;

    @media #{$viewport-phone} {
        @include font-bold-italic(32px, 32px);
    }
}

.h4-heading {
    @include font-bold-italic(28px, 28px);
    @extend .heading-default;

    @media #{$viewport-phone} {
        @include font-bold-italic(28px, 28px);
    }
}

.h5-heading {
    @include font-bold-italic(24px, 24px);
    @extend .heading-default;

    @media #{$viewport-phone} {
        @include font-bold-italic(24px, 24px);
    }
}

.heading-default {
    margin: 0;
    padding: 0;
}

b,
strong {
    @include text-bold();

    font-weight: normal !important;
    color: $color-blue-dark;
}

body,
input,
select,
textarea {
    font-family: $font-family-default;
    color: $color-blue-dark;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    @include text-bold-italic();

    color: $color-blue-dark;

    &.text-yellow {
        text-shadow: 1px 1px $color-blue-dark;
    }

    &.text-shadow {
        text-shadow: 1px 1px $color-blue-dark;
    }
}

.text-shadow {
    text-shadow: 1px 1px $color-blue-dark;
}

.text-shadow-inverse {
    text-shadow: 1px 1px $color-yellow;
}

.text-white {
    color: $color-white !important;
}

.text-blue {
    color: $color-blue-dark !important;
}

.text-yellow {
    color: $color-yellow !important;
}

.text-grey {
    color: $color-grey !important;
}
