@mixin heading-default {
  color: $color-blue-dark;
  font-family: $font-family-bold-italic;
  line-height: $line-height--default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-bold-italic;
  line-height: $line-height--default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-blue-dark;
}

.h1, .h1-heading {
  @include heading-default;

  font-size: $font-size--h1;
}

.h2, .h2-heading {
  @include heading-default;

  font-size: $font-size--h2;
}

.h3, .h3-heading {
  @include heading-default;

  font-size: $font-size--h3;
}

.h4, .h4-heading {
  @include heading-default;

  font-size: $font-size--h4;
}

.h5, .h5-heading {
  @include heading-default;

  font-size: $font-size--h5;
}

.h6, .h6-heading {
  @include heading-default;

  font-size: $font-size--h6;
}

a, abbr, acronym, address, applet, b, big, blockquote, body, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, tt, u, ul, var {
  font-family: $font-family-urw-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

b,
strong {
  font-family: $font-family-semibold;
}

.text-shadow {
  text-shadow: 1px 1px $color-blue-dark;
}

.text-shadow-inverse {
  text-shadow: 1px 1px $color-yellow;
}

.text-white {
  color: $color-white !important;
}

.text-blue {
  color: $color-blue-dark !important;
}

.text-yellow {
  color: $color-yellow !important;
}

.text-grey {
  color: $color-grey !important;
}
