.hsc-icon {
    width: 25px;
    height: 25px;
    display: inline-block;
}

.hsc-icon-youtube-yellow {
    background: url('images/social/youtube-yellow.svg') no-repeat;
}

.hsc-icon-youtube {
    background: url('images/social/youtube-blue.svg') no-repeat;
}

.hsc-icon-facebook {
    background: url('images/social/facebook-blue.svg') no-repeat;
}

.hsc-icon-facebook-yellow {
    background: url('images/social/facebook-blue.svg') no-repeat;
}

.hsc-icon-instagram {
    background: url('images/social/instagram-blue.svg') no-repeat;
}
