#main-content {
    min-height: calc(100vh - 189px);
}

#page-container {
    overflow: initial !important;
}

#et-main-area {
    overflow: hidden;
}
//
//@media all and (min-width: 981px) {
//    .et_right_sidebar #main-content .container:before {
//        right: 24.875% !important;
//    }
//
//    #left-area {
//        width: 75.125%;
//    }
//
//    #sidebar {
//        width: 24.875%;
//    }
//}
